html,
body {
  font-family: $fontfamily;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  color: $text-color;
  // letter-spacing: 0.4px;
  height: 100%;
  width: 100%;
  min-width: $minwidth;
  background-color: $white-color;
}

img {
  vertical-align: top;
  border-style: none;
  max-width: 100%;
  height: auto;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

// .section-title {
//   margin-bottom: 20px;
//   color: $heading-color;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 1.2;
//   text-align: center;
//   letter-spacing: 3.6px;
//   position: relative;

//   &::before {
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 50%;
//     background-position: 0 0;
//     background-repeat: no-repeat;
//   }
// }

// .section-content {
//   display: flex;
//   flex-direction: column;
//   padding-top: 125px;
//   padding-bottom: 95px;
//   padding-left: 67px;
//   padding-right: 67px;
// }

// .section-subtitle {
//   color: #a47d5e;
//   font-size: 14px;
//   font-weight: 700;
//   text-transform: uppercase;
//   letter-spacing: 1.4px;
//   text-align: center;
// }


// .link {
// }

body.lock {
  overflow: hidden;
}
