html,
body {
  font-family: $fontfamily;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  color: $text-color;
  // letter-spacing: 0.4px;
  height: 100%;
  width: 100%;
  min-width: $minwidth;
  background-color: $white-color;
}

img {
  vertical-align: top;
  border-style: none;
  max-width: 100%;
  height: auto;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
}

// .page {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   display: flex;
//   flex-direction: column;
// }

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.section-title {
  color: $white-color;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;

  &--black {
    color: $black-color;
  }
}

.item-title {
  text-transform: uppercase;
  letter-spacing: 2.5px;

  &--white {
    color: $white-color;
  }
}

.section-text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;

  &--white {
    color: $white-color;
  }
}

.section-link {
  font-family: "Bebas", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $black-color;
  transition: all 0.5s ease 0s;

  &:hover,
  &:focus {
    color: rgba($black-color, 0.6);
    transition: all 0.5s ease 0s;
    outline: none;
  }

  &:active {
    color: rgba($black-color, 0.3);
    transition: all 0.1s ease 0s;
  }

  &--white {
    color: $white-color;

    &:hover,
    &:focus {
      color: rgba($white-color, 0.6);
      transition: all 0.5s ease 0s;
      outline: none;
    }

    &:active {
      color: rgba($white-color, 0.3);
      transition: all 0.1s ease 0s;
    }
  }
}

.section-btn {
  width: 155px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: $black-color;
  color: $white-color;
  transition: all 0.5s ease 0s;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: rgba($black-color, 0.8);
    transition: all 0.5s ease 0s;
    outline: none;
  }

  &:active {
    background-color: rgba($black-color, 0.6);
    transition: all 0.1s ease 0s;
  }

  &--white {
    background-color: $white-color;
    color: $black-color;

    &:hover,
    &:focus {
      background-color: rgba($white-color, 0.8);
    }

    &:active {
      background-color: rgba($white-color, 0.6);
    }
  }
}

body.lock {
  overflow: hidden;
}
