$white-color: #ffffff;
$black-color: #000000;
$bg-header-color: #ffffff;
$bg-footer-color: #ffffff;
$heading-color: #ffffff;
$text-color: #000000;
$placeholder-color: #959595;
$active-color: #000000;
$hover-color: rgba(#64c29e, 0.8);
$link-color: #4d4959;
$fontfamily: "Akziden", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$minwidth: 320px;
$mw: 910;
$md1: $mw + 15;
$md2: 849.98;
// $md2: 991.98;
$md3: 659.98;
$md4: 449.98;
