.main-footer {
  padding-top: 34px;
  padding-bottom: 27px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__col {
    &:first-child {
      @media (max-width: $md3+px) {
        order: 2;
      }
    }

    &:last-child {
      @media (max-width: $md3+px) {
        order: 1;
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    font-family: "PTSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #4c4c4c;

    & a {
      color: #4c4c4c;
    }

    @media (max-width: $md3+px) {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
}
