.lead {
  margin-top: 175px;

  &__row {
    display: flex;
    background-color: $black-color;

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__col {
    flex: 0 0 50%;

    &:first-child {
      @media (max-width: $md3+px) {
        display: none;
      }
    }

    &:last-child {
      @media (max-width: $md3+px) {
        flex: 1 1 100%;
      }
    }
  }

  &__wrap {
    height: 100%;
  }

  &__content {
    padding-top: 72px;
    padding-left: 62px;
    padding-right: 10px;
    padding-bottom: 75px;

    @media (max-width: $md3+px) {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 47px;
      padding-bottom: 45px;
    }
  }

  &__content-title {
    max-width: 200px;
    margin-bottom: 30px;

    @media (max-width: $md3+px) {
      max-width: none;
    }
  }

  &__text {
    max-width: 320px;
    margin-bottom: 48px;

    @media (max-width: $md3+px) {
      max-width: none;
    }
  }

  &__links-group {
    display: inline-flex;
    align-items: center;
  }

  &__link {
    &:first-child {
      margin-right: 14px;
    }
  }

  @media (max-width: $md3+px) {
    margin-top: 140px;
  }

  @media (max-width: $md4+px) {
    margin-top: 100px;
  }
}
